<header class x-data="{ }">
    <div class="flex h-12 px-5 bg-black text-white fixed top-0 left-0 z-100 w-full">
        <h1 class="flex items-center mr-6">
            <img src="https://via.placeholder.com/140x50" alt="My Logo" />
        </h1>
        <ul class="flex items-center -mx-2 hidden | lg:flex">
            {% for i in 0..4 %}
            <li class="px-2">
                <a href="">Menu {{ loop.index }}</a>
            </li>
            {% endfor %}
        </ul>

        <button
            class="hamburger hamburger--slider | bg-blue-1 ml-auto"
            type="button"
            aria-controls="menu-mobile"
            aria-label="Open the menu"
            @click.prevent="$dispatch('toggleMenuMobile', { id : 'menuMobile'})"
        >
            <span class="hamburger-box">
                <span class="hamburger-inner"></span>
            </span>
        </button>
    </div>

    <section
        class="menu-mobile | fixed right-0 top-12 w-screen flex z-max"
        x-transition:enter="transition ease-in-out duration-500"
        x-transition:enter-start="opacity-0"
        x-transition:enter-end="opacity-100"
        x-transition:leave="transition ease-in-out duration-500"
        x-transition:leave-start="opacity-100"
        x-transition:leave-end="opacity-0"
        x-data="menuMobile()"
        x-description="Slide-over panel, show/hide based on slide-over state."
        x-init="init('menuMobile', '.hamburger')"
        x-show="isOpen()"
    >
            <div class="h-full py-6 bg-white overflow-y-scroll">
                <header class="px-4 sm:px-6">
                    <button
                        class="text-black hover:text-blue-1 transition ease-in-out duration-150"
                        aria-label="Close panel"
                        @click="close()"
                    >
                        <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="2"
                                d="M6 18L18 6M6 6l12 12"
                            ></path>
                        </svg>
                    </button>
                </header>
                <div class="relative flex-1 px-4 sm:px-6">
                    <div class="o-wysiwyg">
                        {% for i in 0..10 %}
                        <p>
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minus esse aliquam corporis ad!
                            Magni possimus iusto magnam, nobis fugiat dolore modi debitis labore? Fuga autem minus
                            asperiores sed vitae facere! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minus
                            esse aliquam corporis ad! Magni possimus iusto magnam, nobis fugiat dolore modi debitis
                            labore? Fuga autem minus asperiores sed vitae facere!
                        </p>
                        {% endfor %}
                    </div>
                </div>
            </div>
      
    </section>
</header>

{% render "@wysiwyg" with {some: 'values'} %}
