/* ==========================================================================
#wysiwyg
========================================================================== */
$o-wysiwyg: '.o-wysiwyg';

%o-wysiwyg {
    $vertical-rythm: $lineHeight-normal;
    line-height: $vertical-rythm;

    /* spacing 
    ----------------------------------------------- */
    > * + * {
        margin-top: 1em * $vertical-rythm;
    }

    > *:first-child {
        margin-top: 0;
    }

    /* heading */
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin-top: 0.5em * $vertical-rythm;
        margin-bottom: 0.25em * $vertical-rythm;
    }

    h1 {
        @extend %heading-1;
    }

    h2 {
        @extend %heading-2;
    }

    h3 {
        @extend %heading-3;
    }

    h4 {
        @extend %heading-4;
    }

    h5 {
        @extend %heading-5;
    }

    h6 {
        @extend %heading-6;
    }

    /* link 
     ----------------------------------------------- */
    a {
        text-decoration: underline;

        &:hover {
            border-bottom: 1px solid;
        }
    }

    /* paragraph 
     ----------------------------------------------- */
    p {

        &:empty {
            @apply hidden;
        }

    }

    /* list 
    ----------------------------------------------- */
    ol {
        @extend %o-ordered-list;
    }

    ul {
        @extend %o-unordered-list;
    }

    /* image    
    ----------------------------------------------- */
    img {
        @apply inline;
    }

    /* figure    
    ----------------------------------------------- */
    figure {

        figcaption {
            margin-top: 0.5em * $vertical-rythm;
        }

    }

    /* blockquote 
    ----------------------------------------------- */
    blockquote {
        @extend %o-quote;
    }

    /* table 
    ----------------------------------------------- */
    table {
        @extend %o-table;
    }

    /* format 
    ----------------------------------------------- */
    abbr {
        border-bottom: 1px dotted;
        cursor: help;
    }

    cite {
        font-style: italic;
    }

    ins {
        text-decoration: none;
        background-color: lime;
    }

    mark {
        background-color: #ff0;
    }

    small {
        font-size: 0.8em;
    }

    strong {
        font-weight: 700;
    }

    sub,
    sup {
        font-size: 0.8em;
    }

    sub {
        vertical-align: sub;
    }

    sup {
        vertical-align: super;
    }

    em {
        font-style: italic;
    }

    del {
        text-decoration: line-through;
    }

    code {
        @apply bg-gray-4 .inline-block rounded px-1;
    }

    pre {
        @apply p-4 bg-gray-4 .relative rounded overflow-x-auto;
        font-family: Consolas, Menlo, Monaco, 'Courier New', monospace;
    }

}

#{$o-wysiwyg} {
    @extend %o-wysiwyg;
}
