/* ==========================================================================
#html
========================================================================== */

html {
    box-sizing: border-box;
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
}

/* ==========================================================================
#body
========================================================================== */

body {
    @apply text-black text-8 font-manrope leading-none overflow-x-hidden bg-gray-4;
}

/* ==========================================================================
#selection
========================================================================== */

::-moz-selection,
::selection {
    @apply text-white bg-black;
}
