/* ==========================================================================
#loading-line
========================================================================== */
$o-loading-line: '.o-loading-line';

#{$o-loading-line} {
    display: block;
    width: 200px;
    height: 4px;
    overflow: hidden;
    position: relative;
    background-color: rgba($colors-green-1, 0.3);

    &:after {
        content: '';
        width: 50%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba($colors-green-1, 1);
        animation-name: loading-line;
        animation-duration: 1500ms;
        animation-iteration-count: infinite;
    }
}

@keyframes loading-line {

    from {
        transform: translate3d(-200%, 0, 0);
    }

    to {
        transform: translate3d(200%, 0, 0);
    }
}
