/* ==========================================================================
#debug
========================================================================== */

body.is-dev {
  
    // breakpoint debugger
    &:before {
        @apply p-2 block fixed right-0 bottom-0 z-max font-bold uppercase bg-gray-1;
        content: 'xs';

        @each $name, $value in $breakpoints {
            @include media('>=#{$name}') {
                content: '#{$name}';
            }
        }
    }

    // grid debugger
    .c-grid-visualizer {
        display: none;
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1000;

        &.is-active {
            display: block;
        }

        &__wrapper,
        &__row,
        &__container {
            height: 100%;
        }

        &__wrapper,
        &__container {
            margin: 0 auto;
        }

        &__column {
            height: 100%;
        }

        &__block {
            height: 100%;
            background-color: cadetblue;
            opacity: 0.5;
        }
    }

    .c-grid-visualizer-toggle {
        padding: 15px 30px;
        position: fixed;
        bottom: 0;
        left: 0;
        z-index: 2000;
        color: #000;
        background: #ccc;

        &:hover {
            background: #aaa;
        }
    }
}
