/* ==========================================================================
toggle
========================================================================== */
$form-toggle: '.form-toggle';

#{$form-toggle} {
    @apply flex items-center cursor-pointer;

    &__input:focus + #{$form-toggle}__line {
        @extend %form-input-focus;
    }

    &.is-disabled {
        @extend %form-input-disabled;
    }

    &__container-input {
        @apply relative;
    }

    &__input {
        @apply sr-only;

        &:checked ~ #{$form-toggle}__dot {
            @apply bg-green-1;
            transform: translateX(100%);
        }

    }

    &__line {
        @apply w-8 h-3 bg-gray-2 rounded-full shadow;
    }

    &__dot {
        @apply absolute w-5 h-5 bg-purple-1 rounded-full shadow inset-y-0 left-0;
        top: -0.25rem;
        left: -0.25rem;
        transition: all 0.3s ease-in-out;
    }
      
    &__label {
        @extend .form-label;
        @apply ml-3;
    }
}
