<div class="p-4">

    <h2 class=" o-heading-5 mb-2">Line</h2>
    <div class="o-loading-line"></div>

    <h2 class=" o-heading-5 mb-2 mt-4">Circle</h2>
    <div class="o-loading-circle"></div>

</div>



