


<div class="bg-red-1" style="height: 50px;"></div>

<div class="flex flex-wrap justify-start items-start -mx-10 bg-purple-1">

    <div class="px-10 w-1/3 bg-blue-1" style="height: 1000px;"></div>

    <div class="px-10 w-1/3 bg-green-1 top-0 z-10 sticky | child-1">
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Autem, ipsa harum? Adipisci, laudantium doloribus? Illum ad facere quam nostrum quibusdam sapiente deleniti nemo vitae unde explicabo possimus, nesciunt porro blanditiis!</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Autem, ipsa harum? Adipisci, laudantium doloribus? Illum ad facere quam nostrum quibusdam sapiente deleniti nemo vitae unde explicabo possimus, nesciunt porro blanditiis!</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Autem, ipsa harum? Adipisci, laudantium doloribus? Illum ad facere quam nostrum quibusdam sapiente deleniti nemo vitae unde explicabo possimus, nesciunt porro blanditiis!</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Autem, ipsa harum? Adipisci, laudantium doloribus? Illum ad facere quam nostrum quibusdam sapiente deleniti nemo vitae unde explicabo possimus, nesciunt porro blanditiis!</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Autem, ipsa harum? Adipisci, laudantium doloribus? Illum ad facere quam nostrum quibusdam sapiente deleniti nemo vitae unde explicabo possimus, nesciunt porro blanditiis!</p>
    </div>

    <div class="px-10 w-1/3 bg-gray-1 top-0 z-10 sticky | child-2">
        <div style="width: 100%"><iframe width="100%" height="600" src="https://maps.google.com/maps?width=100%&amp;height=600&amp;hl=en&amp;q=1%20Grafton%20Street%2C%20Dublin%2C%20Ireland+(My%20Business%20Name)&amp;ie=UTF8&amp;t=&amp;z=14&amp;iwloc=B&amp;output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"><a href="https://www.maps.ie/draw-radius-circle-map/">Google Maps Radius</a></iframe></div><br />
    </div>

</div>

<div class="bg-green-1" style="height: 400px;"></div>

