$screens-xs: 400px;
$screens-sm: 576px;
$screens-md: 768px;
$screens-lg: 1024px;
$screens-xl: 1240px;
$screens-hg: 1440px;
$screens-cl: 1920px;

$colors-current: currentColor;
$colors-transparent: transparent;
$colors-black: #000;
$colors-white: #fff;
$colors-green-1: #00b894;
$colors-green-2: #55efc4;
$colors-gray-1: #f7fafc;
$colors-gray-2: #edf2f7;
$colors-gray-3: #e2e8f0;
$colors-gray-4: #cbd5e0;
$colors-gray-5: #a0aec0;
$colors-gray-6: #718096;
$colors-gray-7: #4a5568;
$colors-gray-8: #2d3748;
$colors-gray-9: #1a202c;
$colors-blue-1: #0984e3;
$colors-blue-2: #74b9ff;
$colors-blue-focus: #63b3ed;
$colors-red-1: #e74c3c;
$colors-red-2: #ff7675;
$colors-purple-1: #6c5ce7;
$colors-purple-2: #a29bfe;

$spacing-0: 0;
$spacing-1: 5px;
$spacing-2: 10px;
$spacing-3: 15px;
$spacing-4: 20px;
$spacing-5: 25px;
$spacing-6: 30px;
$spacing-7: 35px;
$spacing-8: 40px;
$spacing-9: 45px;
$spacing-10: 50px;
$spacing-11: 55px;
$spacing-12: 60px;
$spacing-13: 65px;
$spacing-14: 70px;
$spacing-15: 75px;
$spacing-16: 80px;
$spacing-17: 85px;
$spacing-18: 90px;
$spacing-19: 95px;
$spacing-20: 100px;
$spacing-21: 105px;
$spacing-22: 110px;
$spacing-23: 115px;
$spacing-24: 120px;
$spacing-25: 125px;
$spacing-26: 130px;
$spacing-27: 135px;
$spacing-28: 140px;
$spacing-29: 145px;
$spacing-30: 150px;
$spacing-31: 155px;
$spacing-32: 160px;
$spacing-33: 165px;
$spacing-34: 170px;
$spacing-35: 175px;
$spacing-36: 180px;
$spacing-37: 185px;
$spacing-38: 190px;
$spacing-39: 195px;
$spacing-40: 200px;
$spacing-41: 205px;
$spacing-42: 210px;
$spacing-43: 215px;
$spacing-44: 220px;
$spacing-45: 225px;
$spacing-46: 230px;
$spacing-47: 235px;
$spacing-48: 240px;
$spacing-49: 245px;
$spacing-50: 250px;
$spacing-51: 255px;
$spacing-52: 260px;
$spacing-53: 265px;
$spacing-54: 270px;
$spacing-55: 275px;
$spacing-56: 280px;
$spacing-57: 285px;
$spacing-58: 290px;
$spacing-59: 295px;
$spacing-60: 300px;
$spacing-61: 305px;
$spacing-62: 310px;
$spacing-63: 315px;
$spacing-64: 320px;
$spacing-65: 325px;
$spacing-66: 330px;
$spacing-67: 335px;
$spacing-68: 340px;
$spacing-69: 345px;
$spacing-70: 350px;
$spacing-71: 355px;
$spacing-72: 360px;
$spacing-73: 365px;
$spacing-74: 370px;
$spacing-75: 375px;
$spacing-76: 380px;
$spacing-77: 385px;
$spacing-78: 390px;
$spacing-79: 395px;
$spacing-80: 400px;
$spacing-81: 405px;
$spacing-82: 410px;
$spacing-83: 415px;
$spacing-84: 420px;
$spacing-85: 425px;
$spacing-86: 430px;
$spacing-87: 435px;
$spacing-88: 440px;
$spacing-89: 445px;
$spacing-90: 450px;
$spacing-91: 455px;
$spacing-92: 460px;
$spacing-93: 465px;
$spacing-94: 470px;
$spacing-95: 475px;
$spacing-96: 480px;
$spacing-97: 485px;
$spacing-98: 490px;
$spacing-99: 495px;
$spacing-100: 500px;
$spacing-1px: 1px;
$spacing-2px: 2px;
$spacing-3px: 3px;
$spacing-4px: 4px;
$spacing-6px: 6px;
$spacing-7px: 7px;
$spacing-8px: 8px;
$spacing-9px: 9px;

$backgroundColor-current: currentColor;
$backgroundColor-transparent: transparent;
$backgroundColor-black: #000;
$backgroundColor-white: #fff;
$backgroundColor-green-1: #00b894;
$backgroundColor-green-2: #55efc4;
$backgroundColor-gray-1: #f7fafc;
$backgroundColor-gray-2: #edf2f7;
$backgroundColor-gray-3: #e2e8f0;
$backgroundColor-gray-4: #cbd5e0;
$backgroundColor-gray-5: #a0aec0;
$backgroundColor-gray-6: #718096;
$backgroundColor-gray-7: #4a5568;
$backgroundColor-gray-8: #2d3748;
$backgroundColor-gray-9: #1a202c;
$backgroundColor-blue-1: #0984e3;
$backgroundColor-blue-2: #74b9ff;
$backgroundColor-blue-focus: #63b3ed;
$backgroundColor-red-1: #e74c3c;
$backgroundColor-red-2: #ff7675;
$backgroundColor-purple-1: #6c5ce7;
$backgroundColor-purple-2: #a29bfe;

$backgroundOpacity-0: 0;
$backgroundOpacity-25: 0.25;
$backgroundOpacity-50: 0.5;
$backgroundOpacity-75: 0.75;
$backgroundOpacity-100: 1;

$backgroundPosition-bottom: bottom;
$backgroundPosition-center: center;
$backgroundPosition-left: left;
$backgroundPosition-left-bottom: left bottom;
$backgroundPosition-left-top: left top;
$backgroundPosition-right: right;
$backgroundPosition-right-bottom: right bottom;
$backgroundPosition-right-top: right top;
$backgroundPosition-top: top;

$backgroundSize-auto: auto;
$backgroundSize-cover: cover;
$backgroundSize-contain: contain;

$borderColor-current: currentColor;
$borderColor-transparent: transparent;
$borderColor-black: #000;
$borderColor-white: #fff;
$borderColor-green-1: #00b894;
$borderColor-green-2: #55efc4;
$borderColor-gray-1: #f7fafc;
$borderColor-gray-2: #edf2f7;
$borderColor-gray-3: #e2e8f0;
$borderColor-gray-4: #cbd5e0;
$borderColor-gray-5: #a0aec0;
$borderColor-gray-6: #718096;
$borderColor-gray-7: #4a5568;
$borderColor-gray-8: #2d3748;
$borderColor-gray-9: #1a202c;
$borderColor-blue-1: #0984e3;
$borderColor-blue-2: #74b9ff;
$borderColor-blue-focus: #63b3ed;
$borderColor-red-1: #e74c3c;
$borderColor-red-2: #ff7675;
$borderColor-purple-1: #6c5ce7;
$borderColor-purple-2: #a29bfe;

$borderOpacity-0: 0;
$borderOpacity-25: 0.25;
$borderOpacity-50: 0.5;
$borderOpacity-75: 0.75;
$borderOpacity-100: 1;

$borderRadius-none: 0;
$borderRadius-sm: 0.125rem;
$borderRadius-default: 4px;
$borderRadius-md: 0.375rem;
$borderRadius-lg: 0.5rem;
$borderRadius-full: 9999px;

$borderWidth-0: 0;
$borderWidth-2: 2px;
$borderWidth-4: 4px;
$borderWidth-8: 8px;
$borderWidth-default: 1px;

$boxShadow-xs: 0 0 0 1px rgba(0, 0, 0, 0.05);
$boxShadow-sm: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
$boxShadow-default: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
$boxShadow-md: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
$boxShadow-lg: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
$boxShadow-xl: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
$boxShadow-2xl: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
$boxShadow-inner: inset 0 2px 4px 0 rgba(0, 0, 0, 0.06);
$boxShadow-outline: 0 0 0 3px rgba(66, 153, 225, 0.5);
$boxShadow-none: none;
$boxShadow-focus: 0 0 0 3px rgba(66, 153, 225, 0.5);
$boxShadow-outline-blue: 0 0 0 3px rgba(66, 153, 225, 0.5);


$cursor-auto: auto;
$cursor-default: default;
$cursor-pointer: pointer;
$cursor-wait: wait;
$cursor-text: text;
$cursor-move: move;
$cursor-not-allowed: not-allowed;

$divideColor-current: currentColor;
$divideColor-transparent: transparent;
$divideColor-black: #000;
$divideColor-white: #fff;
$divideColor-green-1: #00b894;
$divideColor-green-2: #55efc4;
$divideColor-gray-1: #f7fafc;
$divideColor-gray-2: #edf2f7;
$divideColor-gray-3: #e2e8f0;
$divideColor-gray-4: #cbd5e0;
$divideColor-gray-5: #a0aec0;
$divideColor-gray-6: #718096;
$divideColor-gray-7: #4a5568;
$divideColor-gray-8: #2d3748;
$divideColor-gray-9: #1a202c;
$divideColor-blue-1: #0984e3;
$divideColor-blue-2: #74b9ff;
$divideColor-blue-focus: #63b3ed;
$divideColor-red-1: #e74c3c;
$divideColor-red-2: #ff7675;
$divideColor-purple-1: #6c5ce7;
$divideColor-purple-2: #a29bfe;

$divideOpacity-0: 0;
$divideOpacity-25: 0.25;
$divideOpacity-50: 0.5;
$divideOpacity-75: 0.75;
$divideOpacity-100: 1;

$divideWidth-0: 0;
$divideWidth-2: 2px;
$divideWidth-4: 4px;
$divideWidth-8: 8px;
$divideWidth-default: 1px;

$fill-current: currentColor;

$flex-1: 1 1 0%;
$flex-auto: 1 1 auto;
$flex-initial: 0 1 auto;
$flex-none: none;

$flexGrow-0: 0;
$flexGrow-default: 1;

$flexShrink-0: 0;
$flexShrink-default: 1;

$fontFamily-title-0: inter;
$fontFamily-title-1: Cambria;
$fontFamily-title-2: "Times New Roman";
$fontFamily-title-3: Times;
$fontFamily-title-4: serif;
$fontFamily-body-0: inter;
$fontFamily-body-1: Monaco;
$fontFamily-body-2: Consolas;
$fontFamily-body-3: "Liberation Mono";
$fontFamily-body-4: "Courier New";
$fontFamily-body-5: monospace;

$fontSize-1: 2px;
$fontSize-2: 4px;
$fontSize-3: 6px;
$fontSize-4: 8px;
$fontSize-5: 10px;
$fontSize-6: 12px;
$fontSize-7: 14px;
$fontSize-8: 16px;
$fontSize-9: 18px;
$fontSize-10: 20px;
$fontSize-11: 22px;
$fontSize-12: 24px;
$fontSize-13: 26px;
$fontSize-14: 28px;
$fontSize-15: 30px;
$fontSize-16: 32px;
$fontSize-17: 34px;
$fontSize-18: 36px;
$fontSize-19: 38px;
$fontSize-20: 40px;
$fontSize-21: 42px;
$fontSize-22: 44px;
$fontSize-23: 46px;
$fontSize-24: 48px;
$fontSize-25: 50px;
$fontSize-26: 52px;
$fontSize-27: 54px;
$fontSize-28: 56px;
$fontSize-29: 58px;
$fontSize-30: 60px;
$fontSize-31: 62px;
$fontSize-32: 64px;
$fontSize-33: 66px;
$fontSize-34: 68px;
$fontSize-35: 70px;
$fontSize-36: 72px;
$fontSize-37: 74px;
$fontSize-38: 76px;
$fontSize-39: 78px;
$fontSize-40: 80px;
$fontSize-41: 82px;
$fontSize-42: 84px;
$fontSize-43: 86px;
$fontSize-44: 88px;
$fontSize-45: 90px;
$fontSize-46: 92px;
$fontSize-47: 94px;
$fontSize-48: 96px;
$fontSize-49: 98px;
$fontSize-50: 100px;
$fontSize-51: 102px;
$fontSize-52: 104px;
$fontSize-53: 106px;
$fontSize-54: 108px;
$fontSize-55: 110px;
$fontSize-56: 112px;
$fontSize-57: 114px;
$fontSize-58: 116px;
$fontSize-59: 118px;
$fontSize-60: 120px;
$fontSize-61: 122px;
$fontSize-62: 124px;
$fontSize-63: 126px;
$fontSize-64: 128px;
$fontSize-65: 130px;
$fontSize-66: 132px;
$fontSize-67: 134px;
$fontSize-68: 136px;
$fontSize-69: 138px;
$fontSize-70: 140px;
$fontSize-71: 142px;
$fontSize-72: 144px;
$fontSize-73: 146px;
$fontSize-74: 148px;
$fontSize-75: 150px;
$fontSize-76: 152px;
$fontSize-77: 154px;
$fontSize-78: 156px;
$fontSize-79: 158px;
$fontSize-80: 160px;
$fontSize-81: 162px;
$fontSize-82: 164px;
$fontSize-83: 166px;
$fontSize-84: 168px;
$fontSize-85: 170px;
$fontSize-86: 172px;
$fontSize-87: 174px;
$fontSize-88: 176px;
$fontSize-89: 178px;
$fontSize-90: 180px;
$fontSize-91: 182px;
$fontSize-92: 184px;
$fontSize-93: 186px;
$fontSize-94: 188px;
$fontSize-95: 190px;
$fontSize-96: 192px;
$fontSize-97: 194px;
$fontSize-98: 196px;
$fontSize-99: 198px;
$fontSize-100: 200px;
$fontSize-xs: 12px;
$fontSize-sm: 14px;
$fontSize-base: 16px;
$fontSize-lg: 18px;
$fontSize-xl: 20px;

$fontWeight-hairline: 100;
$fontWeight-thin: 200;
$fontWeight-light: 300;
$fontWeight-normal: 400;
$fontWeight-medium: 500;
$fontWeight-semibold: 600;
$fontWeight-bold: 700;
$fontWeight-extrabold: 800;
$fontWeight-black: 900;

$height-0: 0;
$height-1: 5px;
$height-2: 10px;
$height-3: 15px;
$height-4: 20px;
$height-5: 25px;
$height-6: 30px;
$height-7: 35px;
$height-8: 40px;
$height-9: 45px;
$height-10: 50px;
$height-11: 55px;
$height-12: 60px;
$height-13: 65px;
$height-14: 70px;
$height-15: 75px;
$height-16: 80px;
$height-17: 85px;
$height-18: 90px;
$height-19: 95px;
$height-20: 100px;
$height-21: 105px;
$height-22: 110px;
$height-23: 115px;
$height-24: 120px;
$height-25: 125px;
$height-26: 130px;
$height-27: 135px;
$height-28: 140px;
$height-29: 145px;
$height-30: 150px;
$height-31: 155px;
$height-32: 160px;
$height-33: 165px;
$height-34: 170px;
$height-35: 175px;
$height-36: 180px;
$height-37: 185px;
$height-38: 190px;
$height-39: 195px;
$height-40: 200px;
$height-41: 205px;
$height-42: 210px;
$height-43: 215px;
$height-44: 220px;
$height-45: 225px;
$height-46: 230px;
$height-47: 235px;
$height-48: 240px;
$height-49: 245px;
$height-50: 250px;
$height-51: 255px;
$height-52: 260px;
$height-53: 265px;
$height-54: 270px;
$height-55: 275px;
$height-56: 280px;
$height-57: 285px;
$height-58: 290px;
$height-59: 295px;
$height-60: 300px;
$height-61: 305px;
$height-62: 310px;
$height-63: 315px;
$height-64: 320px;
$height-65: 325px;
$height-66: 330px;
$height-67: 335px;
$height-68: 340px;
$height-69: 345px;
$height-70: 350px;
$height-71: 355px;
$height-72: 360px;
$height-73: 365px;
$height-74: 370px;
$height-75: 375px;
$height-76: 380px;
$height-77: 385px;
$height-78: 390px;
$height-79: 395px;
$height-80: 400px;
$height-81: 405px;
$height-82: 410px;
$height-83: 415px;
$height-84: 420px;
$height-85: 425px;
$height-86: 430px;
$height-87: 435px;
$height-88: 440px;
$height-89: 445px;
$height-90: 450px;
$height-91: 455px;
$height-92: 460px;
$height-93: 465px;
$height-94: 470px;
$height-95: 475px;
$height-96: 480px;
$height-97: 485px;
$height-98: 490px;
$height-99: 495px;
$height-100: 500px;
$height-auto: auto;
$height-1px: 1px;
$height-2px: 2px;
$height-3px: 3px;
$height-4px: 4px;
$height-6px: 6px;
$height-7px: 7px;
$height-8px: 8px;
$height-9px: 9px;
$height-full: 100%;
$height-screen: 100vh;

$inset-0: 0;
$inset-auto: auto;

$letterSpacing-tighter: -0.05em;
$letterSpacing-tight: -0.025em;
$letterSpacing-normal: 0;
$letterSpacing-wide: 0.025em;
$letterSpacing-wider: 0.05em;
$letterSpacing-widest: 0.1em;

$lineHeight-none: 1;
$lineHeight-tight: 1.25;
$lineHeight-snug: 1.375;
$lineHeight-normal: 1.5;
$lineHeight-relaxed: 1.625;
$lineHeight-loose: 2;

$listStyleType-none: none;
$listStyleType-disc: disc;
$listStyleType-decimal: decimal;

$margin-0: 0;
$margin-1: 5px;
$margin-2: 10px;
$margin-3: 15px;
$margin-4: 20px;
$margin-5: 25px;
$margin-6: 30px;
$margin-7: 35px;
$margin-8: 40px;
$margin-9: 45px;
$margin-10: 50px;
$margin-11: 55px;
$margin-12: 60px;
$margin-13: 65px;
$margin-14: 70px;
$margin-15: 75px;
$margin-16: 80px;
$margin-17: 85px;
$margin-18: 90px;
$margin-19: 95px;
$margin-20: 100px;
$margin-21: 105px;
$margin-22: 110px;
$margin-23: 115px;
$margin-24: 120px;
$margin-25: 125px;
$margin-26: 130px;
$margin-27: 135px;
$margin-28: 140px;
$margin-29: 145px;
$margin-30: 150px;
$margin-31: 155px;
$margin-32: 160px;
$margin-33: 165px;
$margin-34: 170px;
$margin-35: 175px;
$margin-36: 180px;
$margin-37: 185px;
$margin-38: 190px;
$margin-39: 195px;
$margin-40: 200px;
$margin-41: 205px;
$margin-42: 210px;
$margin-43: 215px;
$margin-44: 220px;
$margin-45: 225px;
$margin-46: 230px;
$margin-47: 235px;
$margin-48: 240px;
$margin-49: 245px;
$margin-50: 250px;
$margin-51: 255px;
$margin-52: 260px;
$margin-53: 265px;
$margin-54: 270px;
$margin-55: 275px;
$margin-56: 280px;
$margin-57: 285px;
$margin-58: 290px;
$margin-59: 295px;
$margin-60: 300px;
$margin-61: 305px;
$margin-62: 310px;
$margin-63: 315px;
$margin-64: 320px;
$margin-65: 325px;
$margin-66: 330px;
$margin-67: 335px;
$margin-68: 340px;
$margin-69: 345px;
$margin-70: 350px;
$margin-71: 355px;
$margin-72: 360px;
$margin-73: 365px;
$margin-74: 370px;
$margin-75: 375px;
$margin-76: 380px;
$margin-77: 385px;
$margin-78: 390px;
$margin-79: 395px;
$margin-80: 400px;
$margin-81: 405px;
$margin-82: 410px;
$margin-83: 415px;
$margin-84: 420px;
$margin-85: 425px;
$margin-86: 430px;
$margin-87: 435px;
$margin-88: 440px;
$margin-89: 445px;
$margin-90: 450px;
$margin-91: 455px;
$margin-92: 460px;
$margin-93: 465px;
$margin-94: 470px;
$margin-95: 475px;
$margin-96: 480px;
$margin-97: 485px;
$margin-98: 490px;
$margin-99: 495px;
$margin-100: 500px;
$margin-auto: auto;
$margin-1px: 1px;
$margin-2px: 2px;
$margin-3px: 3px;
$margin-4px: 4px;
$margin-6px: 6px;
$margin-7px: 7px;
$margin-8px: 8px;
$margin-9px: 9px;
$margin--1: -5px;
$margin--2: -10px;
$margin--3: -15px;
$margin--4: -20px;
$margin--5: -25px;
$margin--6: -30px;
$margin--7: -35px;
$margin--8: -40px;
$margin--9: -45px;
$margin--10: -50px;
$margin--11: -55px;
$margin--12: -60px;
$margin--13: -65px;
$margin--14: -70px;
$margin--15: -75px;
$margin--16: -80px;
$margin--17: -85px;
$margin--18: -90px;
$margin--19: -95px;
$margin--20: -100px;
$margin--21: -105px;
$margin--22: -110px;
$margin--23: -115px;
$margin--24: -120px;
$margin--25: -125px;
$margin--26: -130px;
$margin--27: -135px;
$margin--28: -140px;
$margin--29: -145px;
$margin--30: -150px;
$margin--31: -155px;
$margin--32: -160px;
$margin--33: -165px;
$margin--34: -170px;
$margin--35: -175px;
$margin--36: -180px;
$margin--37: -185px;
$margin--38: -190px;
$margin--39: -195px;
$margin--40: -200px;
$margin--41: -205px;
$margin--42: -210px;
$margin--43: -215px;
$margin--44: -220px;
$margin--45: -225px;
$margin--46: -230px;
$margin--47: -235px;
$margin--48: -240px;
$margin--49: -245px;
$margin--50: -250px;
$margin--51: -255px;
$margin--52: -260px;
$margin--53: -265px;
$margin--54: -270px;
$margin--55: -275px;
$margin--56: -280px;
$margin--57: -285px;
$margin--58: -290px;
$margin--59: -295px;
$margin--60: -300px;
$margin--61: -305px;
$margin--62: -310px;
$margin--63: -315px;
$margin--64: -320px;
$margin--65: -325px;
$margin--66: -330px;
$margin--67: -335px;
$margin--68: -340px;
$margin--69: -345px;
$margin--70: -350px;
$margin--71: -355px;
$margin--72: -360px;
$margin--73: -365px;
$margin--74: -370px;
$margin--75: -375px;
$margin--76: -380px;
$margin--77: -385px;
$margin--78: -390px;
$margin--79: -395px;
$margin--80: -400px;
$margin--81: -405px;
$margin--82: -410px;
$margin--83: -415px;
$margin--84: -420px;
$margin--85: -425px;
$margin--86: -430px;
$margin--87: -435px;
$margin--88: -440px;
$margin--89: -445px;
$margin--90: -450px;
$margin--91: -455px;
$margin--92: -460px;
$margin--93: -465px;
$margin--94: -470px;
$margin--95: -475px;
$margin--96: -480px;
$margin--97: -485px;
$margin--98: -490px;
$margin--99: -495px;
$margin--100: -500px;
$margin--1px: -1px;
$margin--2px: -2px;
$margin--3px: -3px;
$margin--4px: -4px;
$margin--6px: -6px;
$margin--7px: -7px;
$margin--8px: -8px;
$margin--9px: -9px;
$margin-1_2: 50%;
$margin-1_3: 33.333333%;
$margin-2_3: 66.666667%;
$margin-1_4: 25%;
$margin-2_4: 50%;
$margin-3_4: 75%;
$margin-1_5: 20%;
$margin-2_5: 40%;
$margin-3_5: 60%;
$margin-4_5: 80%;
$margin-1_6: 16.666667%;
$margin-2_6: 33.333333%;
$margin-3_6: 50%;
$margin-4_6: 66.666667%;
$margin-5_6: 83.333333%;
$margin-1_12: 8.333333%;
$margin-2_12: 16.666667%;
$margin-3_12: 25%;
$margin-4_12: 33.333333%;
$margin-5_12: 41.666667%;
$margin-6_12: 50%;
$margin-7_12: 58.333333%;
$margin-8_12: 66.666667%;
$margin-9_12: 75%;
$margin-10_12: 83.333333%;
$margin-11_12: 91.666667%;
$margin-grid: 1200px;
$margin-full: 100%;
$margin-screen: 100vw;
$margin--auto: auto;
$margin--1_2: -50%;
$margin--1_3: -33.33333%;
$margin--2_3: -66.66667%;
$margin--1_4: -25%;
$margin--2_4: -50%;
$margin--3_4: -75%;
$margin--1_5: -20%;
$margin--2_5: -40%;
$margin--3_5: -60%;
$margin--4_5: -80%;
$margin--1_6: -16.66667%;
$margin--2_6: -33.33333%;
$margin--3_6: -50%;
$margin--4_6: -66.66667%;
$margin--5_6: -83.33333%;
$margin--1_12: -8.33333%;
$margin--2_12: -16.66667%;
$margin--3_12: -25%;
$margin--4_12: -33.33333%;
$margin--5_12: -41.66667%;
$margin--6_12: -50%;
$margin--7_12: -58.33333%;
$margin--8_12: -66.66667%;
$margin--9_12: -75%;
$margin--10_12: -83.33333%;
$margin--11_12: -91.66667%;
$margin--grid: -1200px;
$margin--full: -100%;
$margin--screen: -100vw;

$maxHeight-0: 0;
$maxHeight-1: 5px;
$maxHeight-2: 10px;
$maxHeight-3: 15px;
$maxHeight-4: 20px;
$maxHeight-5: 25px;
$maxHeight-6: 30px;
$maxHeight-7: 35px;
$maxHeight-8: 40px;
$maxHeight-9: 45px;
$maxHeight-10: 50px;
$maxHeight-11: 55px;
$maxHeight-12: 60px;
$maxHeight-13: 65px;
$maxHeight-14: 70px;
$maxHeight-15: 75px;
$maxHeight-16: 80px;
$maxHeight-17: 85px;
$maxHeight-18: 90px;
$maxHeight-19: 95px;
$maxHeight-20: 100px;
$maxHeight-21: 105px;
$maxHeight-22: 110px;
$maxHeight-23: 115px;
$maxHeight-24: 120px;
$maxHeight-25: 125px;
$maxHeight-26: 130px;
$maxHeight-27: 135px;
$maxHeight-28: 140px;
$maxHeight-29: 145px;
$maxHeight-30: 150px;
$maxHeight-31: 155px;
$maxHeight-32: 160px;
$maxHeight-33: 165px;
$maxHeight-34: 170px;
$maxHeight-35: 175px;
$maxHeight-36: 180px;
$maxHeight-37: 185px;
$maxHeight-38: 190px;
$maxHeight-39: 195px;
$maxHeight-40: 200px;
$maxHeight-41: 205px;
$maxHeight-42: 210px;
$maxHeight-43: 215px;
$maxHeight-44: 220px;
$maxHeight-45: 225px;
$maxHeight-46: 230px;
$maxHeight-47: 235px;
$maxHeight-48: 240px;
$maxHeight-49: 245px;
$maxHeight-50: 250px;
$maxHeight-51: 255px;
$maxHeight-52: 260px;
$maxHeight-53: 265px;
$maxHeight-54: 270px;
$maxHeight-55: 275px;
$maxHeight-56: 280px;
$maxHeight-57: 285px;
$maxHeight-58: 290px;
$maxHeight-59: 295px;
$maxHeight-60: 300px;
$maxHeight-61: 305px;
$maxHeight-62: 310px;
$maxHeight-63: 315px;
$maxHeight-64: 320px;
$maxHeight-65: 325px;
$maxHeight-66: 330px;
$maxHeight-67: 335px;
$maxHeight-68: 340px;
$maxHeight-69: 345px;
$maxHeight-70: 350px;
$maxHeight-71: 355px;
$maxHeight-72: 360px;
$maxHeight-73: 365px;
$maxHeight-74: 370px;
$maxHeight-75: 375px;
$maxHeight-76: 380px;
$maxHeight-77: 385px;
$maxHeight-78: 390px;
$maxHeight-79: 395px;
$maxHeight-80: 400px;
$maxHeight-81: 405px;
$maxHeight-82: 410px;
$maxHeight-83: 415px;
$maxHeight-84: 420px;
$maxHeight-85: 425px;
$maxHeight-86: 430px;
$maxHeight-87: 435px;
$maxHeight-88: 440px;
$maxHeight-89: 445px;
$maxHeight-90: 450px;
$maxHeight-91: 455px;
$maxHeight-92: 460px;
$maxHeight-93: 465px;
$maxHeight-94: 470px;
$maxHeight-95: 475px;
$maxHeight-96: 480px;
$maxHeight-97: 485px;
$maxHeight-98: 490px;
$maxHeight-99: 495px;
$maxHeight-100: 500px;
$maxHeight-auto: auto;
$maxHeight-1px: 1px;
$maxHeight-2px: 2px;
$maxHeight-3px: 3px;
$maxHeight-4px: 4px;
$maxHeight-6px: 6px;
$maxHeight-7px: 7px;
$maxHeight-8px: 8px;
$maxHeight-9px: 9px;
$maxHeight-full: 100%;
$maxHeight-screen: 100vh;

$maxWidth-0: 0;
$maxWidth-1: 5px;
$maxWidth-2: 10px;
$maxWidth-3: 15px;
$maxWidth-4: 20px;
$maxWidth-5: 25px;
$maxWidth-6: 30px;
$maxWidth-7: 35px;
$maxWidth-8: 40px;
$maxWidth-9: 45px;
$maxWidth-10: 50px;
$maxWidth-11: 55px;
$maxWidth-12: 60px;
$maxWidth-13: 65px;
$maxWidth-14: 70px;
$maxWidth-15: 75px;
$maxWidth-16: 80px;
$maxWidth-17: 85px;
$maxWidth-18: 90px;
$maxWidth-19: 95px;
$maxWidth-20: 100px;
$maxWidth-21: 105px;
$maxWidth-22: 110px;
$maxWidth-23: 115px;
$maxWidth-24: 120px;
$maxWidth-25: 125px;
$maxWidth-26: 130px;
$maxWidth-27: 135px;
$maxWidth-28: 140px;
$maxWidth-29: 145px;
$maxWidth-30: 150px;
$maxWidth-31: 155px;
$maxWidth-32: 160px;
$maxWidth-33: 165px;
$maxWidth-34: 170px;
$maxWidth-35: 175px;
$maxWidth-36: 180px;
$maxWidth-37: 185px;
$maxWidth-38: 190px;
$maxWidth-39: 195px;
$maxWidth-40: 200px;
$maxWidth-41: 205px;
$maxWidth-42: 210px;
$maxWidth-43: 215px;
$maxWidth-44: 220px;
$maxWidth-45: 225px;
$maxWidth-46: 230px;
$maxWidth-47: 235px;
$maxWidth-48: 240px;
$maxWidth-49: 245px;
$maxWidth-50: 250px;
$maxWidth-51: 255px;
$maxWidth-52: 260px;
$maxWidth-53: 265px;
$maxWidth-54: 270px;
$maxWidth-55: 275px;
$maxWidth-56: 280px;
$maxWidth-57: 285px;
$maxWidth-58: 290px;
$maxWidth-59: 295px;
$maxWidth-60: 300px;
$maxWidth-61: 305px;
$maxWidth-62: 310px;
$maxWidth-63: 315px;
$maxWidth-64: 320px;
$maxWidth-65: 325px;
$maxWidth-66: 330px;
$maxWidth-67: 335px;
$maxWidth-68: 340px;
$maxWidth-69: 345px;
$maxWidth-70: 350px;
$maxWidth-71: 355px;
$maxWidth-72: 360px;
$maxWidth-73: 365px;
$maxWidth-74: 370px;
$maxWidth-75: 375px;
$maxWidth-76: 380px;
$maxWidth-77: 385px;
$maxWidth-78: 390px;
$maxWidth-79: 395px;
$maxWidth-80: 400px;
$maxWidth-81: 405px;
$maxWidth-82: 410px;
$maxWidth-83: 415px;
$maxWidth-84: 420px;
$maxWidth-85: 425px;
$maxWidth-86: 430px;
$maxWidth-87: 435px;
$maxWidth-88: 440px;
$maxWidth-89: 445px;
$maxWidth-90: 450px;
$maxWidth-91: 455px;
$maxWidth-92: 460px;
$maxWidth-93: 465px;
$maxWidth-94: 470px;
$maxWidth-95: 475px;
$maxWidth-96: 480px;
$maxWidth-97: 485px;
$maxWidth-98: 490px;
$maxWidth-99: 495px;
$maxWidth-100: 500px;
$maxWidth-auto: auto;
$maxWidth-1px: 1px;
$maxWidth-2px: 2px;
$maxWidth-3px: 3px;
$maxWidth-4px: 4px;
$maxWidth-6px: 6px;
$maxWidth-7px: 7px;
$maxWidth-8px: 8px;
$maxWidth-9px: 9px;
$maxWidth-1_2: 50%;
$maxWidth-1_3: 33.333333%;
$maxWidth-2_3: 66.666667%;
$maxWidth-1_4: 25%;
$maxWidth-2_4: 50%;
$maxWidth-3_4: 75%;
$maxWidth-1_5: 20%;
$maxWidth-2_5: 40%;
$maxWidth-3_5: 60%;
$maxWidth-4_5: 80%;
$maxWidth-1_6: 16.666667%;
$maxWidth-2_6: 33.333333%;
$maxWidth-3_6: 50%;
$maxWidth-4_6: 66.666667%;
$maxWidth-5_6: 83.333333%;
$maxWidth-1_12: 8.333333%;
$maxWidth-2_12: 16.666667%;
$maxWidth-3_12: 25%;
$maxWidth-4_12: 33.333333%;
$maxWidth-5_12: 41.666667%;
$maxWidth-6_12: 50%;
$maxWidth-7_12: 58.333333%;
$maxWidth-8_12: 66.666667%;
$maxWidth-9_12: 75%;
$maxWidth-10_12: 83.333333%;
$maxWidth-11_12: 91.666667%;
$maxWidth-grid: 1200px;
$maxWidth-full: 100%;
$maxWidth-screen: 100vw;

$minHeight-0: 0;
$minHeight-1: 5px;
$minHeight-2: 10px;
$minHeight-3: 15px;
$minHeight-4: 20px;
$minHeight-5: 25px;
$minHeight-6: 30px;
$minHeight-7: 35px;
$minHeight-8: 40px;
$minHeight-9: 45px;
$minHeight-10: 50px;
$minHeight-11: 55px;
$minHeight-12: 60px;
$minHeight-13: 65px;
$minHeight-14: 70px;
$minHeight-15: 75px;
$minHeight-16: 80px;
$minHeight-17: 85px;
$minHeight-18: 90px;
$minHeight-19: 95px;
$minHeight-20: 100px;
$minHeight-21: 105px;
$minHeight-22: 110px;
$minHeight-23: 115px;
$minHeight-24: 120px;
$minHeight-25: 125px;
$minHeight-26: 130px;
$minHeight-27: 135px;
$minHeight-28: 140px;
$minHeight-29: 145px;
$minHeight-30: 150px;
$minHeight-31: 155px;
$minHeight-32: 160px;
$minHeight-33: 165px;
$minHeight-34: 170px;
$minHeight-35: 175px;
$minHeight-36: 180px;
$minHeight-37: 185px;
$minHeight-38: 190px;
$minHeight-39: 195px;
$minHeight-40: 200px;
$minHeight-41: 205px;
$minHeight-42: 210px;
$minHeight-43: 215px;
$minHeight-44: 220px;
$minHeight-45: 225px;
$minHeight-46: 230px;
$minHeight-47: 235px;
$minHeight-48: 240px;
$minHeight-49: 245px;
$minHeight-50: 250px;
$minHeight-51: 255px;
$minHeight-52: 260px;
$minHeight-53: 265px;
$minHeight-54: 270px;
$minHeight-55: 275px;
$minHeight-56: 280px;
$minHeight-57: 285px;
$minHeight-58: 290px;
$minHeight-59: 295px;
$minHeight-60: 300px;
$minHeight-61: 305px;
$minHeight-62: 310px;
$minHeight-63: 315px;
$minHeight-64: 320px;
$minHeight-65: 325px;
$minHeight-66: 330px;
$minHeight-67: 335px;
$minHeight-68: 340px;
$minHeight-69: 345px;
$minHeight-70: 350px;
$minHeight-71: 355px;
$minHeight-72: 360px;
$minHeight-73: 365px;
$minHeight-74: 370px;
$minHeight-75: 375px;
$minHeight-76: 380px;
$minHeight-77: 385px;
$minHeight-78: 390px;
$minHeight-79: 395px;
$minHeight-80: 400px;
$minHeight-81: 405px;
$minHeight-82: 410px;
$minHeight-83: 415px;
$minHeight-84: 420px;
$minHeight-85: 425px;
$minHeight-86: 430px;
$minHeight-87: 435px;
$minHeight-88: 440px;
$minHeight-89: 445px;
$minHeight-90: 450px;
$minHeight-91: 455px;
$minHeight-92: 460px;
$minHeight-93: 465px;
$minHeight-94: 470px;
$minHeight-95: 475px;
$minHeight-96: 480px;
$minHeight-97: 485px;
$minHeight-98: 490px;
$minHeight-99: 495px;
$minHeight-100: 500px;
$minHeight-auto: auto;
$minHeight-1px: 1px;
$minHeight-2px: 2px;
$minHeight-3px: 3px;
$minHeight-4px: 4px;
$minHeight-6px: 6px;
$minHeight-7px: 7px;
$minHeight-8px: 8px;
$minHeight-9px: 9px;
$minHeight-full: 100%;
$minHeight-screen: 100vh;

$minWidth-0: 0;
$minWidth-1: 5px;
$minWidth-2: 10px;
$minWidth-3: 15px;
$minWidth-4: 20px;
$minWidth-5: 25px;
$minWidth-6: 30px;
$minWidth-7: 35px;
$minWidth-8: 40px;
$minWidth-9: 45px;
$minWidth-10: 50px;
$minWidth-11: 55px;
$minWidth-12: 60px;
$minWidth-13: 65px;
$minWidth-14: 70px;
$minWidth-15: 75px;
$minWidth-16: 80px;
$minWidth-17: 85px;
$minWidth-18: 90px;
$minWidth-19: 95px;
$minWidth-20: 100px;
$minWidth-21: 105px;
$minWidth-22: 110px;
$minWidth-23: 115px;
$minWidth-24: 120px;
$minWidth-25: 125px;
$minWidth-26: 130px;
$minWidth-27: 135px;
$minWidth-28: 140px;
$minWidth-29: 145px;
$minWidth-30: 150px;
$minWidth-31: 155px;
$minWidth-32: 160px;
$minWidth-33: 165px;
$minWidth-34: 170px;
$minWidth-35: 175px;
$minWidth-36: 180px;
$minWidth-37: 185px;
$minWidth-38: 190px;
$minWidth-39: 195px;
$minWidth-40: 200px;
$minWidth-41: 205px;
$minWidth-42: 210px;
$minWidth-43: 215px;
$minWidth-44: 220px;
$minWidth-45: 225px;
$minWidth-46: 230px;
$minWidth-47: 235px;
$minWidth-48: 240px;
$minWidth-49: 245px;
$minWidth-50: 250px;
$minWidth-51: 255px;
$minWidth-52: 260px;
$minWidth-53: 265px;
$minWidth-54: 270px;
$minWidth-55: 275px;
$minWidth-56: 280px;
$minWidth-57: 285px;
$minWidth-58: 290px;
$minWidth-59: 295px;
$minWidth-60: 300px;
$minWidth-61: 305px;
$minWidth-62: 310px;
$minWidth-63: 315px;
$minWidth-64: 320px;
$minWidth-65: 325px;
$minWidth-66: 330px;
$minWidth-67: 335px;
$minWidth-68: 340px;
$minWidth-69: 345px;
$minWidth-70: 350px;
$minWidth-71: 355px;
$minWidth-72: 360px;
$minWidth-73: 365px;
$minWidth-74: 370px;
$minWidth-75: 375px;
$minWidth-76: 380px;
$minWidth-77: 385px;
$minWidth-78: 390px;
$minWidth-79: 395px;
$minWidth-80: 400px;
$minWidth-81: 405px;
$minWidth-82: 410px;
$minWidth-83: 415px;
$minWidth-84: 420px;
$minWidth-85: 425px;
$minWidth-86: 430px;
$minWidth-87: 435px;
$minWidth-88: 440px;
$minWidth-89: 445px;
$minWidth-90: 450px;
$minWidth-91: 455px;
$minWidth-92: 460px;
$minWidth-93: 465px;
$minWidth-94: 470px;
$minWidth-95: 475px;
$minWidth-96: 480px;
$minWidth-97: 485px;
$minWidth-98: 490px;
$minWidth-99: 495px;
$minWidth-100: 500px;
$minWidth-auto: auto;
$minWidth-1px: 1px;
$minWidth-2px: 2px;
$minWidth-3px: 3px;
$minWidth-4px: 4px;
$minWidth-6px: 6px;
$minWidth-7px: 7px;
$minWidth-8px: 8px;
$minWidth-9px: 9px;
$minWidth-1_2: 50%;
$minWidth-1_3: 33.333333%;
$minWidth-2_3: 66.666667%;
$minWidth-1_4: 25%;
$minWidth-2_4: 50%;
$minWidth-3_4: 75%;
$minWidth-1_5: 20%;
$minWidth-2_5: 40%;
$minWidth-3_5: 60%;
$minWidth-4_5: 80%;
$minWidth-1_6: 16.666667%;
$minWidth-2_6: 33.333333%;
$minWidth-3_6: 50%;
$minWidth-4_6: 66.666667%;
$minWidth-5_6: 83.333333%;
$minWidth-1_12: 8.333333%;
$minWidth-2_12: 16.666667%;
$minWidth-3_12: 25%;
$minWidth-4_12: 33.333333%;
$minWidth-5_12: 41.666667%;
$minWidth-6_12: 50%;
$minWidth-7_12: 58.333333%;
$minWidth-8_12: 66.666667%;
$minWidth-9_12: 75%;
$minWidth-10_12: 83.333333%;
$minWidth-11_12: 91.666667%;
$minWidth-grid: 1200px;
$minWidth-full: 100%;
$minWidth-screen: 100vw;

$objectPosition-bottom: bottom;
$objectPosition-center: center;
$objectPosition-left: left;
$objectPosition-left-bottom: left bottom;
$objectPosition-left-top: left top;
$objectPosition-right: right;
$objectPosition-right-bottom: right bottom;
$objectPosition-right-top: right top;
$objectPosition-top: top;

$opacity-0: 0;
$opacity-25: 0.25;
$opacity-50: 0.5;
$opacity-75: 0.75;
$opacity-100: 1;

$order-1: 1;
$order-2: 2;
$order-3: 3;
$order-4: 4;
$order-5: 5;
$order-6: 6;
$order-7: 7;
$order-8: 8;
$order-9: 9;
$order-10: 10;
$order-11: 11;
$order-12: 12;
$order-first: -9999;
$order-last: 9999;
$order-none: 0;

$padding-0: 0;
$padding-1: 5px;
$padding-2: 10px;
$padding-3: 15px;
$padding-4: 20px;
$padding-5: 25px;
$padding-6: 30px;
$padding-7: 35px;
$padding-8: 40px;
$padding-9: 45px;
$padding-10: 50px;
$padding-11: 55px;
$padding-12: 60px;
$padding-13: 65px;
$padding-14: 70px;
$padding-15: 75px;
$padding-16: 80px;
$padding-17: 85px;
$padding-18: 90px;
$padding-19: 95px;
$padding-20: 100px;
$padding-21: 105px;
$padding-22: 110px;
$padding-23: 115px;
$padding-24: 120px;
$padding-25: 125px;
$padding-26: 130px;
$padding-27: 135px;
$padding-28: 140px;
$padding-29: 145px;
$padding-30: 150px;
$padding-31: 155px;
$padding-32: 160px;
$padding-33: 165px;
$padding-34: 170px;
$padding-35: 175px;
$padding-36: 180px;
$padding-37: 185px;
$padding-38: 190px;
$padding-39: 195px;
$padding-40: 200px;
$padding-41: 205px;
$padding-42: 210px;
$padding-43: 215px;
$padding-44: 220px;
$padding-45: 225px;
$padding-46: 230px;
$padding-47: 235px;
$padding-48: 240px;
$padding-49: 245px;
$padding-50: 250px;
$padding-51: 255px;
$padding-52: 260px;
$padding-53: 265px;
$padding-54: 270px;
$padding-55: 275px;
$padding-56: 280px;
$padding-57: 285px;
$padding-58: 290px;
$padding-59: 295px;
$padding-60: 300px;
$padding-61: 305px;
$padding-62: 310px;
$padding-63: 315px;
$padding-64: 320px;
$padding-65: 325px;
$padding-66: 330px;
$padding-67: 335px;
$padding-68: 340px;
$padding-69: 345px;
$padding-70: 350px;
$padding-71: 355px;
$padding-72: 360px;
$padding-73: 365px;
$padding-74: 370px;
$padding-75: 375px;
$padding-76: 380px;
$padding-77: 385px;
$padding-78: 390px;
$padding-79: 395px;
$padding-80: 400px;
$padding-81: 405px;
$padding-82: 410px;
$padding-83: 415px;
$padding-84: 420px;
$padding-85: 425px;
$padding-86: 430px;
$padding-87: 435px;
$padding-88: 440px;
$padding-89: 445px;
$padding-90: 450px;
$padding-91: 455px;
$padding-92: 460px;
$padding-93: 465px;
$padding-94: 470px;
$padding-95: 475px;
$padding-96: 480px;
$padding-97: 485px;
$padding-98: 490px;
$padding-99: 495px;
$padding-100: 500px;
$padding-1px: 1px;
$padding-2px: 2px;
$padding-3px: 3px;
$padding-4px: 4px;
$padding-6px: 6px;
$padding-7px: 7px;
$padding-8px: 8px;
$padding-9px: 9px;

$placeholderColor-current: currentColor;
$placeholderColor-transparent: transparent;
$placeholderColor-black: #000;
$placeholderColor-white: #fff;
$placeholderColor-green-1: #00b894;
$placeholderColor-green-2: #55efc4;
$placeholderColor-gray-1: #f7fafc;
$placeholderColor-gray-2: #edf2f7;
$placeholderColor-gray-3: #e2e8f0;
$placeholderColor-gray-4: #cbd5e0;
$placeholderColor-gray-5: #a0aec0;
$placeholderColor-gray-6: #718096;
$placeholderColor-gray-7: #4a5568;
$placeholderColor-gray-8: #2d3748;
$placeholderColor-gray-9: #1a202c;
$placeholderColor-blue-1: #0984e3;
$placeholderColor-blue-2: #74b9ff;
$placeholderColor-blue-focus: #63b3ed;
$placeholderColor-red-1: #e74c3c;
$placeholderColor-red-2: #ff7675;
$placeholderColor-purple-1: #6c5ce7;
$placeholderColor-purple-2: #a29bfe;

$placeholderOpacity-0: 0;
$placeholderOpacity-25: 0.25;
$placeholderOpacity-50: 0.5;
$placeholderOpacity-75: 0.75;
$placeholderOpacity-100: 1;

$space-0: 0;
$space-1: 5px;
$space-2: 10px;
$space-3: 15px;
$space-4: 20px;
$space-5: 25px;
$space-6: 30px;
$space-7: 35px;
$space-8: 40px;
$space-9: 45px;
$space-10: 50px;
$space-11: 55px;
$space-12: 60px;
$space-13: 65px;
$space-14: 70px;
$space-15: 75px;
$space-16: 80px;
$space-17: 85px;
$space-18: 90px;
$space-19: 95px;
$space-20: 100px;
$space-21: 105px;
$space-22: 110px;
$space-23: 115px;
$space-24: 120px;
$space-25: 125px;
$space-26: 130px;
$space-27: 135px;
$space-28: 140px;
$space-29: 145px;
$space-30: 150px;
$space-31: 155px;
$space-32: 160px;
$space-33: 165px;
$space-34: 170px;
$space-35: 175px;
$space-36: 180px;
$space-37: 185px;
$space-38: 190px;
$space-39: 195px;
$space-40: 200px;
$space-41: 205px;
$space-42: 210px;
$space-43: 215px;
$space-44: 220px;
$space-45: 225px;
$space-46: 230px;
$space-47: 235px;
$space-48: 240px;
$space-49: 245px;
$space-50: 250px;
$space-51: 255px;
$space-52: 260px;
$space-53: 265px;
$space-54: 270px;
$space-55: 275px;
$space-56: 280px;
$space-57: 285px;
$space-58: 290px;
$space-59: 295px;
$space-60: 300px;
$space-61: 305px;
$space-62: 310px;
$space-63: 315px;
$space-64: 320px;
$space-65: 325px;
$space-66: 330px;
$space-67: 335px;
$space-68: 340px;
$space-69: 345px;
$space-70: 350px;
$space-71: 355px;
$space-72: 360px;
$space-73: 365px;
$space-74: 370px;
$space-75: 375px;
$space-76: 380px;
$space-77: 385px;
$space-78: 390px;
$space-79: 395px;
$space-80: 400px;
$space-81: 405px;
$space-82: 410px;
$space-83: 415px;
$space-84: 420px;
$space-85: 425px;
$space-86: 430px;
$space-87: 435px;
$space-88: 440px;
$space-89: 445px;
$space-90: 450px;
$space-91: 455px;
$space-92: 460px;
$space-93: 465px;
$space-94: 470px;
$space-95: 475px;
$space-96: 480px;
$space-97: 485px;
$space-98: 490px;
$space-99: 495px;
$space-100: 500px;
$space-1px: 1px;
$space-2px: 2px;
$space-3px: 3px;
$space-4px: 4px;
$space-6px: 6px;
$space-7px: 7px;
$space-8px: 8px;
$space-9px: 9px;
$space--1: -5px;
$space--2: -10px;
$space--3: -15px;
$space--4: -20px;
$space--5: -25px;
$space--6: -30px;
$space--7: -35px;
$space--8: -40px;
$space--9: -45px;
$space--10: -50px;
$space--11: -55px;
$space--12: -60px;
$space--13: -65px;
$space--14: -70px;
$space--15: -75px;
$space--16: -80px;
$space--17: -85px;
$space--18: -90px;
$space--19: -95px;
$space--20: -100px;
$space--21: -105px;
$space--22: -110px;
$space--23: -115px;
$space--24: -120px;
$space--25: -125px;
$space--26: -130px;
$space--27: -135px;
$space--28: -140px;
$space--29: -145px;
$space--30: -150px;
$space--31: -155px;
$space--32: -160px;
$space--33: -165px;
$space--34: -170px;
$space--35: -175px;
$space--36: -180px;
$space--37: -185px;
$space--38: -190px;
$space--39: -195px;
$space--40: -200px;
$space--41: -205px;
$space--42: -210px;
$space--43: -215px;
$space--44: -220px;
$space--45: -225px;
$space--46: -230px;
$space--47: -235px;
$space--48: -240px;
$space--49: -245px;
$space--50: -250px;
$space--51: -255px;
$space--52: -260px;
$space--53: -265px;
$space--54: -270px;
$space--55: -275px;
$space--56: -280px;
$space--57: -285px;
$space--58: -290px;
$space--59: -295px;
$space--60: -300px;
$space--61: -305px;
$space--62: -310px;
$space--63: -315px;
$space--64: -320px;
$space--65: -325px;
$space--66: -330px;
$space--67: -335px;
$space--68: -340px;
$space--69: -345px;
$space--70: -350px;
$space--71: -355px;
$space--72: -360px;
$space--73: -365px;
$space--74: -370px;
$space--75: -375px;
$space--76: -380px;
$space--77: -385px;
$space--78: -390px;
$space--79: -395px;
$space--80: -400px;
$space--81: -405px;
$space--82: -410px;
$space--83: -415px;
$space--84: -420px;
$space--85: -425px;
$space--86: -430px;
$space--87: -435px;
$space--88: -440px;
$space--89: -445px;
$space--90: -450px;
$space--91: -455px;
$space--92: -460px;
$space--93: -465px;
$space--94: -470px;
$space--95: -475px;
$space--96: -480px;
$space--97: -485px;
$space--98: -490px;
$space--99: -495px;
$space--100: -500px;
$space--1px: -1px;
$space--2px: -2px;
$space--3px: -3px;
$space--4px: -4px;
$space--6px: -6px;
$space--7px: -7px;
$space--8px: -8px;
$space--9px: -9px;

$stroke-current: currentColor;

$strokeWidth-0: 0;
$strokeWidth-1: 1;
$strokeWidth-2: 2;

$textColor-current: currentColor;
$textColor-transparent: transparent;
$textColor-black: #000;
$textColor-white: #fff;
$textColor-green-1: #00b894;
$textColor-green-2: #55efc4;
$textColor-gray-1: #f7fafc;
$textColor-gray-2: #edf2f7;
$textColor-gray-3: #e2e8f0;
$textColor-gray-4: #cbd5e0;
$textColor-gray-5: #a0aec0;
$textColor-gray-6: #718096;
$textColor-gray-7: #4a5568;
$textColor-gray-8: #2d3748;
$textColor-gray-9: #1a202c;
$textColor-blue-1: #0984e3;
$textColor-blue-2: #74b9ff;
$textColor-blue-focus: #63b3ed;
$textColor-red-1: #e74c3c;
$textColor-red-2: #ff7675;
$textColor-purple-1: #6c5ce7;
$textColor-purple-2: #a29bfe;

$textOpacity-0: 0;
$textOpacity-25: 0.25;
$textOpacity-50: 0.5;
$textOpacity-75: 0.75;
$textOpacity-100: 1;

$width-0: 0;
$width-1: 5px;
$width-2: 10px;
$width-3: 15px;
$width-4: 20px;
$width-5: 25px;
$width-6: 30px;
$width-7: 35px;
$width-8: 40px;
$width-9: 45px;
$width-10: 50px;
$width-11: 55px;
$width-12: 60px;
$width-13: 65px;
$width-14: 70px;
$width-15: 75px;
$width-16: 80px;
$width-17: 85px;
$width-18: 90px;
$width-19: 95px;
$width-20: 100px;
$width-21: 105px;
$width-22: 110px;
$width-23: 115px;
$width-24: 120px;
$width-25: 125px;
$width-26: 130px;
$width-27: 135px;
$width-28: 140px;
$width-29: 145px;
$width-30: 150px;
$width-31: 155px;
$width-32: 160px;
$width-33: 165px;
$width-34: 170px;
$width-35: 175px;
$width-36: 180px;
$width-37: 185px;
$width-38: 190px;
$width-39: 195px;
$width-40: 200px;
$width-41: 205px;
$width-42: 210px;
$width-43: 215px;
$width-44: 220px;
$width-45: 225px;
$width-46: 230px;
$width-47: 235px;
$width-48: 240px;
$width-49: 245px;
$width-50: 250px;
$width-51: 255px;
$width-52: 260px;
$width-53: 265px;
$width-54: 270px;
$width-55: 275px;
$width-56: 280px;
$width-57: 285px;
$width-58: 290px;
$width-59: 295px;
$width-60: 300px;
$width-61: 305px;
$width-62: 310px;
$width-63: 315px;
$width-64: 320px;
$width-65: 325px;
$width-66: 330px;
$width-67: 335px;
$width-68: 340px;
$width-69: 345px;
$width-70: 350px;
$width-71: 355px;
$width-72: 360px;
$width-73: 365px;
$width-74: 370px;
$width-75: 375px;
$width-76: 380px;
$width-77: 385px;
$width-78: 390px;
$width-79: 395px;
$width-80: 400px;
$width-81: 405px;
$width-82: 410px;
$width-83: 415px;
$width-84: 420px;
$width-85: 425px;
$width-86: 430px;
$width-87: 435px;
$width-88: 440px;
$width-89: 445px;
$width-90: 450px;
$width-91: 455px;
$width-92: 460px;
$width-93: 465px;
$width-94: 470px;
$width-95: 475px;
$width-96: 480px;
$width-97: 485px;
$width-98: 490px;
$width-99: 495px;
$width-100: 500px;
$width-auto: auto;
$width-1px: 1px;
$width-2px: 2px;
$width-3px: 3px;
$width-4px: 4px;
$width-6px: 6px;
$width-7px: 7px;
$width-8px: 8px;
$width-9px: 9px;
$width-1_2: 50%;
$width-1_3: 33.333333%;
$width-2_3: 66.666667%;
$width-1_4: 25%;
$width-2_4: 50%;
$width-3_4: 75%;
$width-1_5: 20%;
$width-2_5: 40%;
$width-3_5: 60%;
$width-4_5: 80%;
$width-1_6: 16.666667%;
$width-2_6: 33.333333%;
$width-3_6: 50%;
$width-4_6: 66.666667%;
$width-5_6: 83.333333%;
$width-1_12: 8.333333%;
$width-2_12: 16.666667%;
$width-3_12: 25%;
$width-4_12: 33.333333%;
$width-5_12: 41.666667%;
$width-6_12: 50%;
$width-7_12: 58.333333%;
$width-8_12: 66.666667%;
$width-9_12: 75%;
$width-10_12: 83.333333%;
$width-11_12: 91.666667%;
$width-grid: 1200px;
$width-full: 100%;
$width-screen: 100vw;

$zIndex-0: 0;
$zIndex-10: 10;
$zIndex-20: 20;
$zIndex-30: 30;
$zIndex-40: 40;
$zIndex-50: 50;
$zIndex-60: 60;
$zIndex-70: 70;
$zIndex-80: 80;
$zIndex-90: 90;
$zIndex-100: 100;
$zIndex-auto: auto;
$zIndex-max: 9999;

$gap-0: 0;
$gap-1: 5px;
$gap-2: 10px;
$gap-3: 15px;
$gap-4: 20px;
$gap-5: 25px;
$gap-6: 30px;
$gap-7: 35px;
$gap-8: 40px;
$gap-9: 45px;
$gap-10: 50px;
$gap-11: 55px;
$gap-12: 60px;
$gap-13: 65px;
$gap-14: 70px;
$gap-15: 75px;
$gap-16: 80px;
$gap-17: 85px;
$gap-18: 90px;
$gap-19: 95px;
$gap-20: 100px;
$gap-21: 105px;
$gap-22: 110px;
$gap-23: 115px;
$gap-24: 120px;
$gap-25: 125px;
$gap-26: 130px;
$gap-27: 135px;
$gap-28: 140px;
$gap-29: 145px;
$gap-30: 150px;
$gap-31: 155px;
$gap-32: 160px;
$gap-33: 165px;
$gap-34: 170px;
$gap-35: 175px;
$gap-36: 180px;
$gap-37: 185px;
$gap-38: 190px;
$gap-39: 195px;
$gap-40: 200px;
$gap-41: 205px;
$gap-42: 210px;
$gap-43: 215px;
$gap-44: 220px;
$gap-45: 225px;
$gap-46: 230px;
$gap-47: 235px;
$gap-48: 240px;
$gap-49: 245px;
$gap-50: 250px;
$gap-51: 255px;
$gap-52: 260px;
$gap-53: 265px;
$gap-54: 270px;
$gap-55: 275px;
$gap-56: 280px;
$gap-57: 285px;
$gap-58: 290px;
$gap-59: 295px;
$gap-60: 300px;
$gap-61: 305px;
$gap-62: 310px;
$gap-63: 315px;
$gap-64: 320px;
$gap-65: 325px;
$gap-66: 330px;
$gap-67: 335px;
$gap-68: 340px;
$gap-69: 345px;
$gap-70: 350px;
$gap-71: 355px;
$gap-72: 360px;
$gap-73: 365px;
$gap-74: 370px;
$gap-75: 375px;
$gap-76: 380px;
$gap-77: 385px;
$gap-78: 390px;
$gap-79: 395px;
$gap-80: 400px;
$gap-81: 405px;
$gap-82: 410px;
$gap-83: 415px;
$gap-84: 420px;
$gap-85: 425px;
$gap-86: 430px;
$gap-87: 435px;
$gap-88: 440px;
$gap-89: 445px;
$gap-90: 450px;
$gap-91: 455px;
$gap-92: 460px;
$gap-93: 465px;
$gap-94: 470px;
$gap-95: 475px;
$gap-96: 480px;
$gap-97: 485px;
$gap-98: 490px;
$gap-99: 495px;
$gap-100: 500px;
$gap-1px: 1px;
$gap-2px: 2px;
$gap-3px: 3px;
$gap-4px: 4px;
$gap-6px: 6px;
$gap-7px: 7px;
$gap-8px: 8px;
$gap-9px: 9px;

$gridTemplateColumns-1: repeat(1, minmax(0, 1fr));
$gridTemplateColumns-2: repeat(2, minmax(0, 1fr));
$gridTemplateColumns-3: repeat(3, minmax(0, 1fr));
$gridTemplateColumns-4: repeat(4, minmax(0, 1fr));
$gridTemplateColumns-5: repeat(5, minmax(0, 1fr));
$gridTemplateColumns-6: repeat(6, minmax(0, 1fr));
$gridTemplateColumns-7: repeat(7, minmax(0, 1fr));
$gridTemplateColumns-8: repeat(8, minmax(0, 1fr));
$gridTemplateColumns-9: repeat(9, minmax(0, 1fr));
$gridTemplateColumns-10: repeat(10, minmax(0, 1fr));
$gridTemplateColumns-11: repeat(11, minmax(0, 1fr));
$gridTemplateColumns-12: repeat(12, minmax(0, 1fr));
$gridTemplateColumns-none: none;

$gridColumn-auto: auto;
$gridColumn-span-1: span 1 / span 1;
$gridColumn-span-2: span 2 / span 2;
$gridColumn-span-3: span 3 / span 3;
$gridColumn-span-4: span 4 / span 4;
$gridColumn-span-5: span 5 / span 5;
$gridColumn-span-6: span 6 / span 6;
$gridColumn-span-7: span 7 / span 7;
$gridColumn-span-8: span 8 / span 8;
$gridColumn-span-9: span 9 / span 9;
$gridColumn-span-10: span 10 / span 10;
$gridColumn-span-11: span 11 / span 11;
$gridColumn-span-12: span 12 / span 12;

$gridColumnStart-1: 1;
$gridColumnStart-2: 2;
$gridColumnStart-3: 3;
$gridColumnStart-4: 4;
$gridColumnStart-5: 5;
$gridColumnStart-6: 6;
$gridColumnStart-7: 7;
$gridColumnStart-8: 8;
$gridColumnStart-9: 9;
$gridColumnStart-10: 10;
$gridColumnStart-11: 11;
$gridColumnStart-12: 12;
$gridColumnStart-13: 13;
$gridColumnStart-auto: auto;

$gridColumnEnd-1: 1;
$gridColumnEnd-2: 2;
$gridColumnEnd-3: 3;
$gridColumnEnd-4: 4;
$gridColumnEnd-5: 5;
$gridColumnEnd-6: 6;
$gridColumnEnd-7: 7;
$gridColumnEnd-8: 8;
$gridColumnEnd-9: 9;
$gridColumnEnd-10: 10;
$gridColumnEnd-11: 11;
$gridColumnEnd-12: 12;
$gridColumnEnd-13: 13;
$gridColumnEnd-auto: auto;

$gridTemplateRows-1: repeat(1, minmax(0, 1fr));
$gridTemplateRows-2: repeat(2, minmax(0, 1fr));
$gridTemplateRows-3: repeat(3, minmax(0, 1fr));
$gridTemplateRows-4: repeat(4, minmax(0, 1fr));
$gridTemplateRows-5: repeat(5, minmax(0, 1fr));
$gridTemplateRows-6: repeat(6, minmax(0, 1fr));
$gridTemplateRows-none: none;

$gridRow-auto: auto;
$gridRow-span-1: span 1 / span 1;
$gridRow-span-2: span 2 / span 2;
$gridRow-span-3: span 3 / span 3;
$gridRow-span-4: span 4 / span 4;
$gridRow-span-5: span 5 / span 5;
$gridRow-span-6: span 6 / span 6;

$gridRowStart-1: 1;
$gridRowStart-2: 2;
$gridRowStart-3: 3;
$gridRowStart-4: 4;
$gridRowStart-5: 5;
$gridRowStart-6: 6;
$gridRowStart-7: 7;
$gridRowStart-auto: auto;

$gridRowEnd-1: 1;
$gridRowEnd-2: 2;
$gridRowEnd-3: 3;
$gridRowEnd-4: 4;
$gridRowEnd-5: 5;
$gridRowEnd-6: 6;
$gridRowEnd-7: 7;
$gridRowEnd-auto: auto;

$transformOrigin-center: center;
$transformOrigin-top: top;
$transformOrigin-top-right: top right;
$transformOrigin-right: right;
$transformOrigin-bottom-right: bottom right;
$transformOrigin-bottom: bottom;
$transformOrigin-bottom-left: bottom left;
$transformOrigin-left: left;
$transformOrigin-top-left: top left;

$scale-0: 0;
$scale-50: .5;
$scale-75: .75;
$scale-90: .9;
$scale-95: .95;
$scale-100: 1;
$scale-105: 1.05;
$scale-110: 1.1;
$scale-125: 1.25;
$scale-150: 1.5;

$rotate-0: 0;
$rotate-45: 45deg;
$rotate-90: 90deg;
$rotate-180: 180deg;
$rotate--180: -180deg;
$rotate--90: -90deg;
$rotate--45: -45deg;

$translate-0: 0;
$translate-1: 5px;
$translate-2: 10px;
$translate-3: 15px;
$translate-4: 20px;
$translate-5: 25px;
$translate-6: 30px;
$translate-7: 35px;
$translate-8: 40px;
$translate-9: 45px;
$translate-10: 50px;
$translate-11: 55px;
$translate-12: 60px;
$translate-13: 65px;
$translate-14: 70px;
$translate-15: 75px;
$translate-16: 80px;
$translate-17: 85px;
$translate-18: 90px;
$translate-19: 95px;
$translate-20: 100px;
$translate-21: 105px;
$translate-22: 110px;
$translate-23: 115px;
$translate-24: 120px;
$translate-25: 125px;
$translate-26: 130px;
$translate-27: 135px;
$translate-28: 140px;
$translate-29: 145px;
$translate-30: 150px;
$translate-31: 155px;
$translate-32: 160px;
$translate-33: 165px;
$translate-34: 170px;
$translate-35: 175px;
$translate-36: 180px;
$translate-37: 185px;
$translate-38: 190px;
$translate-39: 195px;
$translate-40: 200px;
$translate-41: 205px;
$translate-42: 210px;
$translate-43: 215px;
$translate-44: 220px;
$translate-45: 225px;
$translate-46: 230px;
$translate-47: 235px;
$translate-48: 240px;
$translate-49: 245px;
$translate-50: 250px;
$translate-51: 255px;
$translate-52: 260px;
$translate-53: 265px;
$translate-54: 270px;
$translate-55: 275px;
$translate-56: 280px;
$translate-57: 285px;
$translate-58: 290px;
$translate-59: 295px;
$translate-60: 300px;
$translate-61: 305px;
$translate-62: 310px;
$translate-63: 315px;
$translate-64: 320px;
$translate-65: 325px;
$translate-66: 330px;
$translate-67: 335px;
$translate-68: 340px;
$translate-69: 345px;
$translate-70: 350px;
$translate-71: 355px;
$translate-72: 360px;
$translate-73: 365px;
$translate-74: 370px;
$translate-75: 375px;
$translate-76: 380px;
$translate-77: 385px;
$translate-78: 390px;
$translate-79: 395px;
$translate-80: 400px;
$translate-81: 405px;
$translate-82: 410px;
$translate-83: 415px;
$translate-84: 420px;
$translate-85: 425px;
$translate-86: 430px;
$translate-87: 435px;
$translate-88: 440px;
$translate-89: 445px;
$translate-90: 450px;
$translate-91: 455px;
$translate-92: 460px;
$translate-93: 465px;
$translate-94: 470px;
$translate-95: 475px;
$translate-96: 480px;
$translate-97: 485px;
$translate-98: 490px;
$translate-99: 495px;
$translate-100: 500px;
$translate-1px: 1px;
$translate-2px: 2px;
$translate-3px: 3px;
$translate-4px: 4px;
$translate-6px: 6px;
$translate-7px: 7px;
$translate-8px: 8px;
$translate-9px: 9px;
$translate--1: -5px;
$translate--2: -10px;
$translate--3: -15px;
$translate--4: -20px;
$translate--5: -25px;
$translate--6: -30px;
$translate--7: -35px;
$translate--8: -40px;
$translate--9: -45px;
$translate--10: -50px;
$translate--11: -55px;
$translate--12: -60px;
$translate--13: -65px;
$translate--14: -70px;
$translate--15: -75px;
$translate--16: -80px;
$translate--17: -85px;
$translate--18: -90px;
$translate--19: -95px;
$translate--20: -100px;
$translate--21: -105px;
$translate--22: -110px;
$translate--23: -115px;
$translate--24: -120px;
$translate--25: -125px;
$translate--26: -130px;
$translate--27: -135px;
$translate--28: -140px;
$translate--29: -145px;
$translate--30: -150px;
$translate--31: -155px;
$translate--32: -160px;
$translate--33: -165px;
$translate--34: -170px;
$translate--35: -175px;
$translate--36: -180px;
$translate--37: -185px;
$translate--38: -190px;
$translate--39: -195px;
$translate--40: -200px;
$translate--41: -205px;
$translate--42: -210px;
$translate--43: -215px;
$translate--44: -220px;
$translate--45: -225px;
$translate--46: -230px;
$translate--47: -235px;
$translate--48: -240px;
$translate--49: -245px;
$translate--50: -250px;
$translate--51: -255px;
$translate--52: -260px;
$translate--53: -265px;
$translate--54: -270px;
$translate--55: -275px;
$translate--56: -280px;
$translate--57: -285px;
$translate--58: -290px;
$translate--59: -295px;
$translate--60: -300px;
$translate--61: -305px;
$translate--62: -310px;
$translate--63: -315px;
$translate--64: -320px;
$translate--65: -325px;
$translate--66: -330px;
$translate--67: -335px;
$translate--68: -340px;
$translate--69: -345px;
$translate--70: -350px;
$translate--71: -355px;
$translate--72: -360px;
$translate--73: -365px;
$translate--74: -370px;
$translate--75: -375px;
$translate--76: -380px;
$translate--77: -385px;
$translate--78: -390px;
$translate--79: -395px;
$translate--80: -400px;
$translate--81: -405px;
$translate--82: -410px;
$translate--83: -415px;
$translate--84: -420px;
$translate--85: -425px;
$translate--86: -430px;
$translate--87: -435px;
$translate--88: -440px;
$translate--89: -445px;
$translate--90: -450px;
$translate--91: -455px;
$translate--92: -460px;
$translate--93: -465px;
$translate--94: -470px;
$translate--95: -475px;
$translate--96: -480px;
$translate--97: -485px;
$translate--98: -490px;
$translate--99: -495px;
$translate--100: -500px;
$translate--1px: -1px;
$translate--2px: -2px;
$translate--3px: -3px;
$translate--4px: -4px;
$translate--6px: -6px;
$translate--7px: -7px;
$translate--8px: -8px;
$translate--9px: -9px;
$translate--full: -100%;
$translate--1_2: -50%;
$translate-1_2: 50%;
$translate-full: 100%;

$skew-0: 0;
$skew-3: 3deg;
$skew-6: 6deg;
$skew-12: 12deg;
$skew--12: -12deg;
$skew--6: -6deg;
$skew--3: -3deg;

$transitionProperty-none: none;
$transitionProperty-all: all;
$transitionProperty-default: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
$transitionProperty-colors: background-color, border-color, color, fill, stroke;
$transitionProperty-opacity: opacity;
$transitionProperty-shadow: box-shadow;
$transitionProperty-transform: transform;

$transitionTimingFunction-linear: linear;
$transitionTimingFunction-in: cubic-bezier(0.4, 0, 1, 1);
$transitionTimingFunction-out: cubic-bezier(0, 0, 0.2, 1);
$transitionTimingFunction-in-out: cubic-bezier(0.4, 0, 0.2, 1);

$transitionDuration-75: 75ms;
$transitionDuration-100: 100ms;
$transitionDuration-150: 150ms;
$transitionDuration-200: 200ms;
$transitionDuration-300: 300ms;
$transitionDuration-500: 500ms;
$transitionDuration-700: 700ms;
$transitionDuration-1000: 1000ms;

$transitionDelay-75: 75ms;
$transitionDelay-100: 100ms;
$transitionDelay-150: 150ms;
$transitionDelay-200: 200ms;
$transitionDelay-300: 300ms;
$transitionDelay-500: 500ms;
$transitionDelay-700: 700ms;
$transitionDelay-1000: 1000ms;

