/* ==========================================================================
#config
==========================================================================  */

$is-dev: '.is-dev' !default;

/* ==========================================================================
#folder
==========================================================================  */

$folder-fonts: '../fonts/' !default;
$folder-images: '../images/' !default;
$folder-svg: '../svg/' !default;
$icomoon-font-path: $folder-fonts !default;
$folder-node-modules: '../../node_modules/' !default;

/* ==========================================================================
#typography
==========================================================================  */

/* Text selection */
$text-selection-color: $colors-black !default;
$text-selection-bg: #b3d4fc !default;

/* ==========================================================================
#include-media (plugin)
==========================================================================  */

$breakpoints: (
'xs': $screens-xs,
'sm': $screens-sm,
'md': $screens-md,
'lg': $screens-lg,
'xl': $screens-xl,
'hg': $screens-hg,
'cl': $screens-cl,
) !default;

/* ==========================================================================
#hamburger (plugin)
==========================================================================  */

$hamburger-padding-x           : 20px;
$hamburger-padding-y           : 20px;
$hamburger-layer-width         : 18px;
$hamburger-layer-height        : 2px;
$hamburger-layer-spacing       : 4px;
$hamburger-layer-color         : #fff;
$hamburger-layer-border-radius : 0px;
$hamburger-hover-opacity       : 1;
$hamburger-active-layer-color  : $hamburger-layer-color;
$hamburger-active-hover-opacity: $hamburger-hover-opacity;

$hamburger-types: (
  slider,
);

/* ==========================================================================
#misc
==========================================================================  */
$vertical-rythm: $lineHeight-normal;


