<div class=" o-wysiwyg p-4">

	<h1>Meta head</h1>

	<pre>
<code>
&lt;!--
The following 2 meta tags *must* come first in the &lt;head&gt;
to consistently ensure proper document rendering.
Any other head element should come *after* these tags.
--&gt;
&lt;meta charset=&quot;utf-8&quot;&gt;
&lt;meta name=&quot;viewport&quot; content=&quot;width=device-width, initial-scale=1&quot;&gt;

&lt;!--
Allows control over where resources are loaded from.
Place as early in the &lt;head&gt; as possible, as the tag  
only applies to resources that are declared after it.
--&gt;
&lt;meta http-equiv=&quot;Content-Security-Policy&quot; content=&quot;default-src 'self'&quot;&gt;

&lt;title&gt;&lt;/title&gt;
&lt;meta name=&quot;description&quot; content=&quot;&quot;/&gt;

&lt;!-- Control the behavior of search engine crawling and indexing --&gt;
&lt;meta name=&quot;robots&quot; content=&quot;index,follow&quot;&gt;&lt;!-- All Search Engines --&gt;
&lt;meta name=&quot;googlebot&quot; content=&quot;index,follow&quot;&gt;&lt;!-- Google Specific --&gt;

&lt;!-- Disable automatic detection and formatting --&gt;
&lt;meta name=&quot;format-detection&quot; content=&quot;telephone=no&quot;&gt;
&lt;meta name=&quot;format-detection&quot; content=&quot;date=no&quot;&gt;
&lt;meta name=&quot;format-detection&quot; content=&quot;address=no&quot;&gt;
&lt;meta name=&quot;format-detection&quot; content=&quot;email=no&quot;&gt;

&lt;!-- Force IE 8/9/10 to use its latest rendering engine --&gt;
&lt;meta http-equiv=&quot;x-ua-compatible&quot; content=&quot;ie=edge&quot;&gt;
</code>
</pre>


</div>
